<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DyingMinuteGoal --- latest football updates</title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
</head>

<body>
    {% block content %}
    <div class="nav-bar-container">
        <div class="nav-bar-item">
            <h3><a href="{% url 'home' %}">DyingMinuteGoal</a></h3>
        </div>
        <div class="nav-bar-item">
            <li class="nav-bar-item-list">
                <h4>Welcome {{request.user.username | capfirst}}</h4>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-bar-item-list">
                <a href="{{request.user.avatar.url}}"><img class="avatar" src="{{request.user.avatar.url}}"></a>
            </li>
            {% endif %}
        </div>

        <br>
    </div>
    {% endblock content %}
</body>

</html>